@import '../tools/_all';
.card {
    @include rem(border-radius, 5px);
    box-shadow: 0 4px 8px 0 $color-black-20;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 18px 0 $color-black-50;
    }
    .card-header {
        @include rem(height, 50px);
        @include rem(border-radius, 5px, 5px, 0, 0);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $card-header-bg;
        p {
            @include rem(padding, 2px, 16px);
            color: $color-white;
            margin-bottom: 0;
        }
    }
    .card-footer {
        @include rem(border-radius, 5px, 5px, 0, 0);
        @include rem(border-top-right-radius, 0);
        @include rem(border-top-left-radius, 0);
        @include rem(height, 50px);
        background-color: $card-footer-bg;
        p {
            @include rem(padding, 2px, 16px);
            color: $color-white;
            margin-bottom: 0;
        }
    }
    .card-container {
        @include rem(padding, 2px, 16px);
        @include rem(padding-top, 25px);
    }
}