<!-- <img src="../../../../assets/img/paleta.png" /> -->
<!-- MAIN CONTENT -->
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">

<!-- row -->
<div class="row">

  <!-- NEW WIDGET START -->
  <article class="col-sm-12 col-md-12 col-lg-12">

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-pink" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
      <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"

      -->
      <header>
        <span class="widget-icon"> <i class="fa fa-check"></i> </span>
        <h2>Fornecedor</h2>
      </header>

      <!-- widget div-->
      <div>

        <!-- widget content -->
        <div class="widget-body">

          <div class="row">
            <form [formGroup]="form" *ngIf="form" (submit)='onSubmit()' class="form-edit" id="wizard-1" novalidate="novalidate">
              <fieldset>
                <div id="bootstrap-wizard-1" class="col-sm-12">
                  <div class="form-bootstrapWizard">
                    </div>
                      <h3><strong>Cadastro</strong></h3>
                      <div class="row">
                          <div class="col-sm-12">
                            <acc-input-field
                              id="input_name"
                              label="Nome"
                              type="text"
                              formControlName="nome"
                              [control]="form.get('nome')"
                              placeholder="Nome Completo"
                              restrictTo="letters"
                              icon="fa fa-user fa-lg fa-fw"
                            ></acc-input-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-12">
                            <acc-input-field
                              id="input_email"
                              label="Email"
                              type="text"
                              formControlName="email"
                              [control]="form.get('email')"
                              placeholder="Email"
                              icon="fa fa-envelope fa-lg fa-fw"
                            ></acc-input-field>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <acc-input-field
                              id="input_telefone"
                              label="Telefone"
                              type="text"
                              formControlName="telefone"
                              [control]="form.get('telefone')"
                              placeholder="(11) 99999-9999"
                              icon="fa fa-phone fa-lg fa-fw"
                            ></acc-input-field>
                        </div>
                        <div class="col-sm-6">
                          <acc-input-field
                              id="input_site"
                              label="Site"
                              type="text"
                              formControlName="site"
                              [control]="form.get('site')"
                              placeholder="www.address.com.br"
                              icon="fa fa-globe fa-lg fa-fw"
                            ></acc-input-field>
                        </div>
                      </div>

                </div>
              </fieldset>
              <footer>
                <button type="submit" class="btn btn-primary">
                  Enviar dados
                </button>
              </footer>
            </form>
          </div>

        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->

    </div>
    <!-- end widget -->

  </article>
  <!-- WIDGET END -->

</div>
<!-- end row -->

</section>
</div>
