@import './../../../../assets/styles/tools/_all';
::ng-deep {
  .dataTables_wrapper{
    .dt-toolbar{
      .toolbar{
        .text-right{
          img{
            height: 40px;
            margin-top: -4px;
            margin-right: 22px
          }
        }
      }
    }
  }
}
:host {
  .loading{
    text-align: center;
    margin-top: 70px;
  }

  thead.actions{
    th:last-child{
        input{
          display: none;
        }
        @include rem(width, 115px);
    }
    input.actions{
      display: none;
    }
  }
  tbody{
    tr{
      cursor: pointer;
      td{
        vertical-align:middle !important;
      }
    }
  }
}
