.error{
  .bigBox{
    background-color: rgb(196, 106, 105) !important;
  }
  .cajita{
    background-color: #C46A69 !important;
  }
}
.success{
  .bigBox{
    background-color: rgb(50, 118, 177) !important;
  }
  .cajita{
    background-color: #3276B1 !important;
  }
}
